/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.form {
  padding-top: 36px;
  padding-bottom: 32px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.form-input {
  width: 100%;
  max-width: 272px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.form-input:hover {
  border-color: #000000;
}

.form-input:focus {
  border-color: #4e75ff;
}

.form-btn {
  width: 100%;
  max-width: 91px;
  border: none;
  background-color: #4e75ff;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.form-btn:hover,
.form-btn:focus {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.gallery-item {
  max-width: 360px;
  width: calc((100% - 48px) / 3);
  border: 1px solid #808080;
  border-radius: 8px;
  transition: transform 250ms ease-in-out;
  overflow: hidden;
}

.gallery-item:hover {
  transform: scale(1.1);
}

.gallery-link {
  max-width: 320px;
}

.gallery-image {
  width: 100%;
  max-height: 152px;
  height: 100%;
}

.descriptions-container {
  display: flex;
  justify-content: space-between;
  padding: 4px 25px 4px 20px;
}

.img-description-title {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.img-description-content {
  font-size: 12px;
  text-align: center;
}

.loader-container {
  display: flex;
  justify-content: center;
}

.is-hidden {
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border-width: 3px;
  border-style: dashed solid solid dotted;
  border-color: #ff3d00 #ff3d00 transparent #ff3d00;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-bottom: 15px;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #ff3d00;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-more-btn {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 110px;
  padding: 8px;
  border: none;
  background-color: #4e75ff;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.load-more-btn:hover,
.load-more-btn:focus {
  background-color: #6c8cff;
}

.hidden {
  display: none;
  opacity: 0;
}
